<div [ngClass]="'home-page-left-nav'">
    <md-sidenav-container>
        <md-sidenav [opened]="opened">
            <ul [ngClass]="'left-nav-bar-list'">
                <li [ngClass]="'left-nav-bar-list-item'">
                    <a href="#">Home</a>
                </li>
                <li [ngClass]="'left-nav-bar-list-item'">
                    <a href="#">Some Link</a>
                </li>
                <li [ngClass]="'left-nav-bar-list-item'">
                    <a href="#">Some Link</a>
                </li>
                <li [ngClass]="'left-nav-bar-list-item'">
                    <a href="#">Some Link</a>
                </li>
            </ul>
        </md-sidenav>
        <ul [ngClass]="'left-nav-bar-list'">
            <li [ngClass]="'left-nav-bar-list-item'">
                <a href="#">Home</a>
            </li>
            <li [ngClass]="'left-nav-bar-list-item'">
                <a href="#">Some Link</a>
            </li>
            <li [ngClass]="'left-nav-bar-list-item'">
                <a href="#">Some Link</a>
            </li>
            <li [ngClass]="'left-nav-bar-list-item'">
                <a href="#">Some Link</a>
            </li>
        </ul>
    </md-sidenav-container>
</div>